<nav class="navbar">
    <div class="container">
        <div class="flex">
            {{ $date := now }}
            {{ if .GitInfo }}
            {{ $date = .GitInfo.AuthorDate }}
            {{ end }}

            <div class="date">
                {{- $date.Format "January 02, 2006" -}}
            </div>
            <div>
                <a class="brand" href="{{ relURL "/" }}">
                    {{ if .Site.Params.titleEmoji }}
                    <span class="emoji">
<!--                        {{ .Site.Params.titleEmoji }}-->
                        <img src="/img/icon.png" alt="">
                    </span>
                    {{ end }}
                    {{ .Site.Title }}
                    </a>
            </div>
            <div class="flex">
                {{ range .Site.Menus.header }}
                <a href="{{ .URL | relURL }}"{{ if eq .URL $.RelPermalink }} aria-current="page"{{ end }}>{{ .Pre }}{{ .Name }}{{ .Post }}</a>
                {{ end }}
                <button id="dark-mode-button"></button>
            </div>
            </div>
    </div>
</nav>